<!-- <div class="container">
    <input type="file" name="file" ng2FileSelect [uploader]="uploadService.uploader" />
    <button type="button" class="btn btn-success btn-s" 
      (click)="uploadFile()" 
      [disabled]="!uploadService.uploader.getNotUploadedItems().length" >
          Upload
    </button>
    <button type="button" class="btn btn-dark" (click)="getProcessedVideo()">Get Predictions</button>
</div>

<video #videoElm width="640" height="480"></video> -->

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
          </div>
        <div class="col-md-auto">
            <div class="p-3"> 
                <input type="file" name="file" ng2FileSelect [uploader]="uploadService.uploader" />
                <button type="button" class="btn btn-success btn-s" 
                (click)="uploadFile()" 
                [disabled]="!uploadService.uploader.getNotUploadedItems().length" >
                    Upload
                </button>
                <button type="button" class="btn btn-dark" (click)="getProcessedVideo()">Get Predictions</button>
            </div>
            <div>
                <video #videoElm width="640" height="480"></video>
            </div>
        </div>
        <div class="col col-lg-2">
          </div>
    </div>
</div>
